<dl class="sub-nav">
  <dt>Categorias: </dt>
  <dd id="all-services" class="active"><a {{action "showAll"}}>Todas</a></dd>
  <dd id="cabello-filter"><a {{action "hideOthers" "cabello"}}>Cabello</a></dd>
  <dd id="manos-pies-filter"><a {{action "hideOthers" "manos-pies"}}>Manos y Pies</a></dd>
  <dd id="estetica-filter"><a {{action "hideOthers" "estetica"}}>Estetica</a></dd>
</dl>

<ul class="large-block-grid-3">
  {{#collection contentBinding="App.ServicesView"}}
    <li {{bind-attr class="view.content.category :service" }}>
      <div class="panel clearfix service-panel">
        <h4 class="text-center">{{view.content.name}}</h4>
        <div class="clearfix">
          <p class="text-left left">Desde: ${{view.content.price}}.00</p>
          <p class="text-right right">{{view.content.time}}min</p>
        </div>
        <p class="text-justify service-description">{{view.content.description}}</p>
      </div>
    </li>
  {{/collection}}
</ul>