<dl class="sub-nav">
  <dt>Categorias: </dt>
  <dd id="all-services" class="active"><a {{action "showAll"}}>Todas</a></dd>
  <dd id="cabello-filter"><a {{action "hideOthers" "cabello"}}>Cabello</a></dd>
  <dd id="manos-pies-filter"><a {{action "hideOthers" "manos-pies"}}>Manos y Pies</a></dd>
  <dd id="estetica-filter"><a {{action "hideOthers" "estetica"}}>Estetica</a></dd>
</dl>

{{view Ember.CollectionView tagName="ul" class="large-block-grid-3" contentBinding="filtered_categories" itemViewClass="App.ServicesListView" }}