<div class="large-12 columns">
  <ul class="navigation">
    <li>{{link-to "Inicio" "index" id="nav-index" class="navigation-button"}}</li>
    <li>{{link-to "Nosotros" "about" id="nav-about" class="navigation-button"}}</li>
    <li>{{link-to "Servicios" "services" id="nav-services" class="navigation-button"}}</li>
    <li>{{link-to "Galerias" "galleries" id="nav-galleries" class="navigation-button"}}</li>
    <li>{{link-to "Articulos" "articles" id="nav-articles" class="navigation-button"}}</li>
    <li>{{link-to "Contactenos" "contact" id="nav-contact" class="navigation-button"}}</li>
  </ul>
</div>